body {
    font-family: "Muli", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 18px;

}



ul {
    padding: 0;
}

/* 
.logo {}

.social {}

.btn {}

.title {}

.text {} */

/* =============header=========== */

.visuallyhidden {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.header {
    padding: 70px 100px 765px;

    display: flex;
    flex-direction: column;
    justify-content: center;


    background: url('../assets/images/bg-header.jpg') center center/cover no-repeat;
    overflow: hidden;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 105px;
    flex-wrap: wrap;

}

.header__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__item {
    margin-right: 30px;
}

.header__item:last-child {
    margin-right: 0;
}






.header__link {

    font-family: Muli;
    font-size: 16px;
    font-weight: bold;

    line-height: 2.5;
    text-decoration: none;
    text-transform: uppercase;

    color: #ffffff;

}


.logo {
    text-decoration: none;
}

.header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.personal__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 130px;
}

.social::before {
    content: "";

    width: 45px;
    height: 2px;
    position: absolute;
    top: 105px;
    right: 270px;



    z-index: 10;

    background: #ffd68f;


}

.personal__item {
    list-style: none;
    margin-right: 40px;
}

.personal__item:last-child {
    margin-right: 0;
}



.personal__link {
    text-decoration: none;

}

.personal__item {
    position: relative;
}

.personal__numeric {
    width: 18px;
    height: 18px;

    font-size: 10px;
    line-height: 2;
    color: #000000;
    text-align: center;

    background: #fff;
    border-radius: 50%;

    position: absolute;

    right: -5px;
    top: -15px;



}



.social__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social__item {
    margin-right: 10px;

}


.social__link {

    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    border-radius: 50%;




}

.social__img {
    height: 18px;
    width: 18px;
    font-weight: bold;

    fill: #434343;

}

/* .social1__img {
    height: 26px;
    width: 26px;
} */



.header__content {
    align-self: center;
}




.btn {

    display: inline-block;
    padding: 20px;

    font-family: inherit;
    font-size: 21px;
    font-weight: 800;
    color: #fff;
    line-height: 1.05;
    text-decoration: none;

    cursor: pointer;
    border: 0;
    border-radius: 30px;
    background-color: transparent;

    transition: background .2s linear;

}

.header__btn {
    padding-right: 120px;
    padding-left: 40px;

    background-color: #0aa566;
    border-radius: 35px;


    font-size: 24px;
    font-weight: 800;

    line-height: 1.67;
    text-transform: capitalize;
    position: relative;

}

.header__btn::after {
    content: url("../assets/images/Arrow.png");
    position: absolute;
    top: 20px;
    right: 55px;

}





/* ==========smoothies============== */

.title {
    font-family: Muli;
    font-size: 50px;
    font-weight: 800;

    line-height: 0.8;
    letter-spacing: -1px;

    color: #f7ae3b;

}


.text {
    font-size: 18px;
    line-height: 1.94;
    color: #1e1e1e;
}





.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothies__items {
    display: flex;
    flex-wrap: wrap;
}







/* =============about=========== */

.about {
    display: flex;

}




/* =============products=========== */

.products__items {
    display: flex;
    flex-wrap: wrap;

}














/* =============story=========== */

.story {
    display: flex;
}

.story__content {
    display: flex;
    flex-direction: column;
}



/* =============testimonials=========== */

.testimonials {
    display: flex;
    flex-direction: column;
}

.testimonials__content {
    display: flex;
    justify-content: space-between;
}


/* =============blog=========== */
.blog {
    display: flex;
    justify-content: center;
}




/* =============instagram=========== */
.instagram__items {
    display: flex;


}


/* =============footer=========== */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

/* .footer__information {

} */

.footer__payment {
    display: flex;
    flex-wrap: wrap;

}





.footer__bottom {
    position: relative;

}

.footer__fixed {

    position: absolute;
    top: 0;
    left: 300px;
}

.footer__wrap-up {
    display: flex;
}

/* .footer__link-up {
    
} */

/* .footer__img-arrow {
    
} */






/* =============header=========== */
/* =============header=========== */
/* =============header=========== */
/* =============header=========== */