body {
    font-family: "Muli", sans-serif;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 18px;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

h2,
h3,
h4,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1740px;
    width: 100%;
    align-self: flex-start;
    padding: 0 10px;
    margin: 0 auto;
}

/* 
.logo {}

.social {}

.btn {}

.title {}

.text {} */

/* =============header=========== */

.visuallyhidden {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.header {
    padding: 70px 0;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: url('../assets/images/bg-header.jpg') center center/cover no-repeat;
    overflow: hidden;
}

.header__top {
    margin-bottom: 100px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item {
    margin-right: 35px;
}

.header__item:last-child {
    margin-right: 0;
}

/* .header__item:not(:last-of-type){
    margin-right: 35px;
} */

/* .header__item + .header__item{
    margin-left: 35px;
} */


.header__link {
    font-size: 16px;
    font-weight: bold;

    line-height: 2.5;
    text-transform: uppercase;
    color: #fff;
}

.logo {
    padding-right: 140px;

    text-decoration: none;
}

.header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__personal:after {
    content: "";
    width: 45px;
    height: 2px;
    position: absolute;
    top: 105px;
    right: 250px;
    z-index: 10;

    background: #ffd68f;
}

.personal__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 120px;
}

.personal__item {
    margin-right: 55px;

    position: relative;
}

.personal__item:last-child {
    margin-right: 0;
}

.personal__numeric {
    width: 18px;
    height: 18px;

    position: absolute;
    right: -16px;
    top: -11px;

    font-size: 10px;
    line-height: 2;
    color: #000000;
    text-align: center;

    background: #fff;
    border-radius: 50%;
}

.social__list {
    display: flex;
    justify-content: space-between;
}

.social__item {
    margin-right: 10px;


}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.social__link--bg {
    background-color: #fff;
}

.social__img {
    height: 18px;
    width: 18px;

    fill: #434343;
}

.header__content {
    align-self: center;
}

.btn {
    display: block;

    position: relative;

    /* font:21px/1.3 ,800 ,"inherit"; */

    font-family: inherit;
    font-size: 21px;
    font-weight: 800;
    color: #fff;
    line-height: 1.3;

    background: transparent;
    border: 0;
    border-radius: 30px;
    outline: none;

    cursor: pointer;
    transition: background-color .2s linear;
}

.btn--green {
    background-color: #0aa566;
}

.header__btn {
    width: 280px;
    padding: 22px 40px;

    font-size: 24px;
    font-weight: 800;
    text-transform: capitalize;

    border-radius: 35px;
}

.header__btn:hover {
    background-color: #4cc796;
}

.header__btn::after {
    content: url("../assets/images/Arrow.png");
    position: absolute;
    top: 20px;
    right: 35px;
}



/* ==========smoothies============== */

.smoothies {
    padding: 100px 0 170px;
}

.smoothies__wrap {
    max-width: 1010px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

.title {
    font-size: 50px;
    font-weight: 800;

    line-height: 0.8;
    letter-spacing: -1px;
    color: #f7ae3b;
}

.smoothies__title {
    margin-bottom: 50px;
}

.text {
    line-height: 1.94;
    text-align: center;
    color: #fff;
}

.text--black {
    color: #1e1e1e;
}

.smoothies__text {
    margin-bottom: 60px;
    padding: 0 50px;
}

.smoothies__items {
    display: flex;
    flex-wrap: wrap;
}

.smoothies__item {
    padding: 25px 0;
    flex-basis: 25%;

    text-align: center;
}

/* 
.smoothies__column:nth-child(2n + 1) {
    border-bottom: 1px solid $white-b;
    border-left: 0px solid $white-b;
}
.smoothies__column:nth-child(2n + 6) {
    border-bottom: 1px solid $white-b;
    border-left: 1px solid $white-b;
}
.smoothies__column:nth-child(1n + 7) {
    border-bottom: 0px solid $white-b;
} */


.smoothies__item:first-child {
    border-bottom: 2px solid #f6edde;
    border-right: 2px solid #f6edde;
}

.smoothies__item:nth-child(2) {
    border-bottom: 2px solid #f6edde;
    border-right: 2px solid #f6edde;
}


.smoothies__item:nth-child(3) {
    border-bottom: 2px solid #f6edde;
    border-right: 2px solid #f6edde;
}

.smoothies__item:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__item:nth-child(5) {

    border-right: 2px solid #f6edde;
}

.smoothies__item:nth-child(6) {

    border-right: 2px solid #f6edde;
}

.smoothies__item:nth-child(7) {
    border-right: 2px solid #f6edde;
}

.smoothies__subtitle {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.6;
    color: #f2612d;
}



/* =============about=========== */

.about {
    padding: 65px 355px 95px 140px;
    background-color: #14826f;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__wrap-img {
    max-height: 850px;

    position: relative;
}

.about__img {
    z-index: 1;
    bottom: -195px;
    position: absolute;
}

.about__content {
    max-width: 595px;
}

.about__title {
    margin-bottom: 55px;

    color: #fff;
    line-height: 1.09;
    font-size: 55px;
    text-align: left;
}

.about__title--lawgreen {
    position: relative;

    color: #cae941;
}

.about__title--lawgreen::after {
    content: url("../assets/images/Line.png");
    position: absolute;
    top: 27px;
    right: 20px;
}

.about__list {
    margin-bottom: 50px;
}

.about__item {
    margin-bottom: 11px;
    padding: 10px 0 0 30px;

    background: url(../assets/images/3sec-list.png) no-repeat 0 10px;
    list-style: none;
    font-size: 21px;
    line-height: 1.05;
    text-align: left;
    color: #fff;
}

.about__benefit {
    font-weight: 800;
}

.about__bth {
    width: 380px;
    min-height: 60px;
    padding: 13px 39px 18px 29px;

    border-radius: 30px;
    border: solid 2px #f8b231;
}

.about__bth::after {
    content: url("../assets/images/Arrow.png");
    position: absolute;
    top: 15px;
    right: 35px;
}

.about__bth:hover {
    background-color: #4cc796;
}

/* 
.about {
    position: relative;
}

.about__content {
    margin-left: auto;

} */



/* =============products=========== */

.products__items {
    display: flex;
    flex-wrap: wrap;

    text-align: center;
}

.products__item {
    padding: 130px 0 80px;
    flex-basis: 25%;
}

.products__item--chocolate {
    background-color: #632b17;
}

.products__item--lettuce {
    background-color: #178670;
}

.products__item--lemon {
    background-color: #f7ae3b;
}

.products__item--turmeric {
    background-color: #c3471b;
}

.products__img {
    margin-bottom: 30px;
}

.products__subtitle {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: bold;
    line-height: 0.92;
    color: #fff;
}

.products__text {
    margin-bottom: 55px;

    display: inline-block;

    font-size: 21px;
    font-style: italic;
    color: #fff;
}

.products__btn {
    margin: 0 auto;
    padding: 15px 30px;
    width: 204px;
    height: 60px;

    border: solid 2px #fff;
    text-align: left;
}

.products__btn:hover {
    background-color: #4cc796;
}

.products__btn::after {
    content: url("../assets/images/Arrow-white.png");
    position: absolute;
    top: 20px;
    right: 35px;
}




/* =============story=========== */

.story {
    padding: 120px 310px 160px;

    display: flex;
    justify-content: space-between;
}

.story__content {
    max-width: 515px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.story__title {
    margin-bottom: 43px;

    text-align: left;
}

.story__text {
    margin-bottom: 50px;

    text-align: left;
}

.story__btn {
    width: 300px;
    height: 60px;
    padding: 15px 0 20px 30px;
}

.story__btn::after {
    content: url("../assets/images/Arrow.png");
    position: absolute;
    top: 15px;
    right: 42px;
}

.story__btn:hover {
    background-color: #4cc796;
}

.story__wrap-img {
    position: relative;
}

.story__wrap-img::before {
    content: url("../assets/images/5sec_stamp.png");
    position: absolute;
    top: 25px;
    left: -165px;
    z-index: 1;
}



/* =============testimonials=========== */

.testimonials {
    padding: 117px 0 80px;

    display: flex;
    flex-direction: column;

    position: relative;

    background-color: #672f1b;
}

.testimonials::before {
    content: url("../assets/images/Dots.png");
    position: absolute;
    top: -80px;
    right: 55px;
    z-index: 1;
}

.testimonials__title {
    margin-bottom: 130px;
}

.testimonials__title--orange {
    color: #f2612d;
}

.testimonials__content {
    max-width: 730px;
    margin: 0 auto 110px;

    display: flex;
    justify-content: space-between;
}

.testimonials__review {
    padding: 55px 50px 0 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.testimonials__review::before {
    content: url("../assets/images/SarahA.png");
    position: absolute;
    top: -40px;
    right: -90px;
}

.testimonials__text {
    margin: 0 auto;
}

.testimonials__author {
    display: inline-block;

    font-weight: 600;
    font-style: italic;
    line-height: 2.5;
    color: #f7ae3b;
}

.testimonials__buttons {
    margin: 0 auto;

    background-color: transparent;
}

.testimonials__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.testimonials__button:first-child {
    transform: rotate(180deg);
    margin-right: 80px;
}




/* =============blog=========== */

.blog {
    padding: 100px 0 0;

    display: flex;
    justify-content: center;
}


.blog__title {
    margin-bottom: 50px;

    text-align: left;
}

.blog__artical {
    padding: 0 45px 29px 63px;
    max-width: 645px;

    align-self: flex-end;
}

.blog__subtitle {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: -0.6px;
    text-align: left;
    color: #f2612d;
}

.blog__text {
    text-align: left;
}

.blog__data {
    font-size: 16px;
    line-height: 2.19;
}

.blog__text {
    margin-top: 31px;
    padding-left: 63px;
}

.blog__more {
    font-weight: 800;
    font-style: italic;

    position: relative;
}

.blog__more::after {
    content: url("../assets/images/Arrow-small.png");
    position: absolute;
    top: -5px;
    right: -30px;
}





/* =============instagram=========== */

.instagram {
    padding: 200px 0 5px;
}

.instagram__reference {
    margin: 0 auto;
    padding-bottom: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #0aa566;
}

.instagram__icon {
    height: 26px;
    width: 26px;
    margin-right: 12px;

    fill: #0aa566;
}

.instagram__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.67;
    letter-spacing: -0.48px;
}

.instagram__items {
    display: flex;
}

.instagram__link {
    flex: 0 1 20%;
    min-width: 250px;

    position: relative;
}

.instagram__icon--white {
    height: 26px;
    width: 26px;

    position: absolute;
    bottom: 23px;
    right: 23px;

    fill: #fff;
}

.instagram__img {
    width: 100%;
    height: 100%;
}



/* =============footer=========== */

.footer {
    display: flex;
    flex-direction: column;

    background-color: #f6ab3b;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 65px 0 75px;
}

.footer__logo {
    align-self: center;
}

.footer__caption {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.54;
    letter-spacing: -0.52px;
    text-align: left;
    color: #fff;
}

.footer__information {
    max-width: 190px;
}

.footer__links {
    margin-top: 20px;
}

.footer__link {
    font-weight: bold;
    line-height: 1.94;
    letter-spacing: -0.36px;
    color: #6d450c;
}




/* 
.footer__payment {
  max-width: 250px;
}

.footer__inner {
margin-top: 25px;
}

.payment__wrap {
    margin-bottom: 20px;
}
    
.payment__img:not(:last-of-type){
    margin-right: 15px;
} */


.payment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    max-width: 275px;
    max-height: 150px;

    margin-top: 30px;
}

.payment__img {
    margin-bottom: 20px;

}

.payment__img:not(:last-of-type) {
    margin-right: 20px;

}



.footer__form {
    margin: 25px 0 0;

    position: relative;
}

.footer__form::after {
    position: absolute;

    content: url("../assets/images/Arrow-form.png");
    bottom: 5px;
    left: 120px;
    z-index: 1;
}

.footer__input {
    margin-bottom: 25px;

    width: 495px;
    height: 60px;
    padding-left: 60px;
    border-radius: 30px;
    background-color: #fff;

    border: none;

    background: #fff url("../assets/images/bg-form.png") 20px 20px no-repeat;
}

.footer__btn {
    margin-right: 25px;
    padding-left: 180px;

    font-weight: 800;
    line-height: 2.22;
    letter-spacing: -0.36px;
    text-align: left;
    color: #6d450c;
    text-transform: uppercase;
    font-size: 18px;
}

.footer__social {
    max-width: 120px;
    margin-left: 325px;

    position: relative;
    top: -40px;
}

.social__img--white {
    fill: #fff;
}

.footer__bottom {
    padding: 15px 0;

    position: relative;

    background-color: #6c2c1c;
}

.footer__center {
    text-align: center;
}

.footer__copyright {
    font-size: 13px;
    line-height: 2.69;
    letter-spacing: 0.26px;
    text-align: center;
    color: #af8a82;
}



/* =============absolute=========== */

.absolute {
    position: absolute;
    top: 10px;
    right: 150px;
}


.absolute__text {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
    letter-spacing: -0.32px;
    text-align: left;
    color: #fff;
}

.absolute__btn {
    width: 50px;
    height: 50px;

    position: fixed;
    z-index: 1000;
    right: 90px;
    bottom: 40px;

    border-radius: 5px;
    background-color: #f2662f;
}

.absolute__btn::after {
    content: url("../assets/images/arrow-sm-white.png");
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000;
}



/* 
.del {
    height: 100vh;
} */