// out: ../dist/app.css, compress: false, sourceMap: true



@import "./fonts.less";
@import "./vars.less";
@import "./mixins.less";



html {
    font-size: 10px;
}

body {
    font-family: "Muli", sans-serif;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 1.8rem;
    background-color: #fff;

    &.lock {
        @media (max-width: 768px) {
            overflow: hidden;
        }
    }
}



*,
::before,
::after {
    box-sizing: border-box;
}

h2,
h3,
h4,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1760px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}


.visuallyhidden {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}




@import "./blocks/header.less";
@import "./blocks/personal.less";
@import "./blocks/social.less";
@import "./blocks/burger.less";
@import "./blocks/btn.less";
@import "./blocks/text.less";
@import "./blocks/title.less";
@import "./blocks/smoothies.less";
@import "./blocks/about.less";
@import "./blocks/products.less";
@import "./blocks/story.less";
@import "./blocks/testimonials.less";
@import "./blocks/blog.less";
@import "./blocks/instagram.less";
@import "./blocks/footer.less";
@import "./blocks/payment.less";
@import "./blocks/up.less";