// out: ../dist/app.css, compress: false, sourceMap: true



@import "./fonts.less";
@import "./vars.less";
@import "./mixins.less";

html {
    font-size: 10px;
}

body {
    font-family: "Muli", sans-serif;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 1.8rem;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

h2,
h3,
h4,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1760px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}


.visuallyhidden {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}





/* ==========smoothies============== */

.smoothies {
    padding: 100px 0 170px;
}

.smoothies__wrap {
    max-width: 1010px;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
}


.smoothies__title {
    margin-bottom: 50px;

    text-align: center;
}



.smoothies__text {
    margin-bottom: 60px;
    padding: 0 50px;
}

.smoothies__items {
    display: flex;
    flex-wrap: wrap;
}

.smoothies__item {
    padding: 25px 0;
    flex-basis: 25%;

    text-align: center;
}

.smoothies__item:first-child {
    border-bottom: 2px solid #f6edde;
    border-right: 2px solid #f6edde;
}

.smoothies__item:nth-child(2) {
    border-bottom: 2px solid #f6edde;
    border-right: 2px solid #f6edde;
}


.smoothies__item:nth-child(3) {
    border-bottom: 2px solid #f6edde;
    border-right: 2px solid #f6edde;
}

.smoothies__item:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__item:nth-child(5) {
    border-right: 2px solid #f6edde;
}

.smoothies__item:nth-child(6) {
    border-right: 2px solid #f6edde;
}

.smoothies__item:nth-child(7) {
    border-right: 2px solid #f6edde;
}

.smoothies__subtitle {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.6;
    color: #f2612d;
}



/* =============about=========== */

.about {
    padding: 65px 0 95px;
    background-color: #14826f;


}

.about__container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.about__wrap-img {
    height: 600px;
    width: 615px;
    position: relative;
    margin-right: 240px;
}

.about__img {
    z-index: 1;
    bottom: -190px;
    left: 45px;
    position: absolute;

}

.about__content {
    max-width: 595px;

    margin-left: 15px;
}

.about__title {
    margin-bottom: 55px;

    color: #fff;
    line-height: 1.1;
    font-size: 55px;
    text-align: left;
}

.about__title--lawgreen {
    position: relative;

    color: #cae941;
}

.about__title--lawgreen::after {
    content: url("../assets/images/Line.png");
    position: absolute;
    top: 27px;
    right: 20px;
}

.about__list {
    margin-bottom: 50px;
}

.about__item {
    margin-bottom: 10px;
    padding: 10px 0 0 30px;

    background: url(../assets/images/3sec-list.png) no-repeat 0 10px;
    list-style: none;
    font-size: 21px;
    line-height: 1.1;
    text-align: left;
    color: #fff;
}

.about__benefit {
    font-weight: 800;
}

.about__btn {
    width: 380px;
    min-height: 60px;

    border-radius: 30px;
    border: solid 2px #f8b231;
}

/* =============products=========== */


.products__items {
    display: flex;
    flex-wrap: wrap;

    text-align: center;
}

.products__item {
    padding: 130px 0 80px;
    flex-basis: 25%;
}

.products__item--chocolate {
    background-color: #632b17;
}


.products__item--lettuce {
    background-color: #178670;
}

.products__item--lemon {
    background-color: #f7ae3b;
}

.products__item--turmeric {
    background-color: #c3471b;
}

.products__img {
    margin-bottom: 30px;
}

.products__subtitle {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: bold;
    line-height: 0.9;
    color: #fff;
}

.products__text {
    margin-bottom: 55px;

    display: inline-block;

    font-size: 21px;
    font-style: italic;
    color: #fff;
}

.products__btn {
    margin: 0 auto;
    width: 204px;
    height: 60px;

    border: solid 2px #fff;
    text-align: left;
}


.products__btn::after {
    background: url(../assets/images/Arrow-white.png) center no-repeat;
}



/* =============story=========== */

.story {
    padding: 120px 0 160px;

}

.story__container {
    display: flex;
    justify-content: space-between;

    max-width: 1360px;

}

.story__content {
    max-width: 515px;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.story__title {
    margin-bottom: 45px;
}

.story__text {
    margin-bottom: 50px;

    text-align: left;
}

.story__btn {
    width: 300px;
    height: 60px;
}

.story__wrap-img {
    position: relative;
}

.story__wrap-img::before {
    content: url("../assets/images/5sec_stamp.png");
    position: absolute;
    top: 23px;
    left: -177px;
    z-index: 1;
}



/* =============testimonials=========== */

.testimonials {
    padding: 115px 40px 80px;

    display: flex;
    flex-direction: column;

    background-color: #672f1b;
}


.testimonials__title {
    margin-bottom: 130px;

    text-align: center;
}

.testimonials__title--orange {
    color: #f2612d;

    position: relative;
}

.testimonials__title--orange::after {
    content: url(../assets/images/Dots.png);
    position: absolute;
    top: -190px;
    right: -737px;
    z-index: 1;
}



.testimonials__content {
    max-width: 730px;
    margin: 0 auto 110px;

    display: flex;
    justify-content: space-between;

    z-index: 2;
}

.testimonials__review {
    padding: 55px 50px 0 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.testimonials__review::before {
    content: url("../assets/images/SarahA.png");
    position: absolute;
    top: -40px;
    right: -90px;
    z-index: -1;
}

.testimonials__text {
    margin: 0 auto;
    color: #f5f1f0;
}

.testimonials__author {
    display: inline-block;

    font-weight: 600;
    font-style: italic;
    line-height: 2.5;
    color: #f7ae3b;
}

.testimonials__buttons {
    margin: 0 auto;

    background-color: transparent;
}

.testimonials__button {
    background-color: transparent;
    border: none;
    outline-color: #ffd68f;
    cursor: pointer;
    transition: background-color .2s linear;
}

.testimonials__button:first-child {
    transform: rotate(180deg);
    margin-right: 80px;
}



/* =============blog=========== */

.blog {
    padding: 100px 40px 200px;

    display: flex;
    justify-content: center;
}


.blog__title {
    margin-bottom: 50px;
}

.blog__artical {
    padding: 0 45px 30px 60px;
    max-width: 645px;

    position: relative;

    align-self: flex-end;
}

.blog__artical::before {
    content: "";
    height: 12px;
    width: 645px;

    position: absolute;
    top: -55px;
    left: 0px;

    background-color: #f7ae3b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.blog__subtitle {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.6px;
    text-align: left;
    color: #f2612d;
}

.blog__text {
    text-align: left;
}

.blog__data {
    margin-bottom: 30px;

    display: inline-block;

    font-size: 16px;
    line-height: 2.2;
}

.blog__text {
    padding-left: 60px;
}

.blog__more {
    font-weight: 800;
    font-style: italic;

    position: relative;
}

.blog__more::after {
    content: url("../assets/images/Arrow-small.png");
    position: absolute;
    top: -5px;
    right: -30px;
}



/* =============instagram=========== */

.instagram {
    padding: 0 0 5px;

    display: flex;
    flex-direction: column;
}

.instagram__reference {
    margin: 0 auto 40px;

    display: flex;
    align-items: center;
    color: #0aa566;
}

.instagram__icon {
    height: 26px;
    width: 26px;
    margin-right: 10px;

    fill: #0aa566;

    transition: fill .2s linear;
}

.instagram__reference:hover .instagram__title {
    color: #4cc796;
}

.instagram__reference:hover .instagram__icon {
    fill: #4cc796;
}


.instagram__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.7;
    letter-spacing: -0.5px;

    transition: color .2s linear;
}

.instagram__items {
    display: flex;

    overflow-x: auto;
}

.instagram__link {
    flex: 0 1 20%;
    min-width: 250px;

    position: relative;
}

.instagram__link:hover .instagram__icon--white {
    fill: #4cc796;
}


.instagram__icon--white {
    height: 26px;
    width: 26px;

    position: absolute;
    bottom: 23px;
    right: 10px;

    fill: #fff;

    transition: fill .2s linear;
}

.instagram__img {
    width: 100%;
    height: 100%;
}



/* =============footer=========== */

.footer {
    display: flex;
    flex-direction: column;

    background-color: #f6ab3b;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 65px 20px 85px;

    position: relative;
}

.footer__logo {
    margin-bottom: 35px;

    align-self: center;
}

.footer__caption {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #fff;
}

.footer__information {
    margin-left: 150px;

    max-width: 190px;
}

.footer__list {
    margin-top: 25px;
}

.footer__link {
    font-weight: bold;
    line-height: 1.9;
    letter-spacing: -0.4px;
    color: #6d450c;
}

.footer__link:hover {
    color: #fff;
}


.footer__payment {
    margin: 0 0 0 10px;
}

.payment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    max-width: 275px;
    max-height: 150px;

    margin-top: 30px;

}

.payment__img {
    margin-bottom: 20px;
}

.payment__img:not(:last-of-type) {
    margin-right: 20px;
}

.footer__form {
    margin: 25px 0 0;
}

.footer__input {
    margin-bottom: 15px;

    width: 495px;
    height: 60px;
    padding-left: 60px;
    border-radius: 30px;
    background-color: #fff;

    border: none;
    outline: none;

    background: #fff url("../assets/images/bg-form.png") 20px 20px no-repeat;
}

.footer__input:focus {
    box-shadow: 0 0 10px #6d450c;
}

.footer__input:focus::placeholder {
    color: transparent;
}

.footer__box {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 100%;

    margin-left: 115px;
}

.footer__btn {
    position: relative;

    font-weight: 800;
    line-height: 2.2;
    letter-spacing: -0.4px;
    text-align: left;
    color: #6d450c;
    text-transform: uppercase;
    font-size: 18px;
}

.footer__btn:focus {
    box-shadow: 0 0 5px #6d450c;
}

.footer__btn:hover {
    background-color: transparent;
    color: #fff;
}

.footer__btn::after {
    background-image: none;
}


.footer__btn::after {
    position: absolute;

    content: url("../assets/images/Arrow-form.png");
    left: -35px;
    top: 10px;
    z-index: 1;
}


.social__item:focus {
    box-shadow: 0 0 5px #6d450c;
}

.social__img--white:hover {
    fill: #6c2c1c;
}

.social__img--white {
    fill: #fff;
}

.footer__bottom {
    padding: 15px 0;

    position: relative;

    background-color: #6c2c1c;
}

.footer__center {
    text-align: center;
}

.footer__copyright {
    font-size: 13px;
    line-height: 2.7;
    letter-spacing: 0.3px;
    text-align: center;
    color: #af8a82;
}



/* =============up=========== */

.up {
    position: absolute;
    top: 10px;
    right: 150px;
}


.up__text {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
    letter-spacing: -0.3px;
    text-align: left;
    color: #fff;
}

.up__btn {
    width: 50px;
    height: 50px;
    padding: 0;

    position: fixed;
    z-index: 10;
    right: 92px;
    bottom: 40px;

    border-radius: 5px;
    background-color: #f2662f;

    transition: all .2s linear;
}


.up__btn::after {
    width: 13px;
    height: 25px;

    right: 50%;
    transform: translate3d(50%, -50%, 0);

    z-index: 10;

    background: url(../assets/images/arrow-sm-white.png) center no-repeat;
}




/* ========================@MEDIA=========================== */



/* ===============@media max1890============================ */


@media (max-width: 1890px) {

    /* ======story===== */

    .story__container {
        justify-content: center;
    }

    .story__content {

        margin-right: 180px;
    }


    /* =====testimonials===== */

    .testimonials__title--orange::after {
        content: "";
    }

}



/* ===============@media max1600========================= */


@media (max-width: 1600px) {


    @media @bpMax1600 {}




    /* ======about===== */

    .about__wrap-img {
        margin-right: 125px;
    }

    .about__img {
        left: 5px;
        bottom: -160px;

    }

    .about__content {
        margin-left: 0;
    }


    /* ======products===== */

    .products__item {
        padding: 80px 25px 40px;
    }

    .products__subtitle {
        max-width: 130px;
        margin: 0 auto;
    }

    /* ======story===== */

    .story {
        padding: 100px 0;
    }

    .story__wrap-img::before {
        top: -60px;
        left: -190px;
    }


    .story__img {
        width: 450px;
    }


    /* ======testimonials=== */

    .testimonials::before {
        content: "";
    }

    /* =======footer====== */

    .footer__information {
        margin-left: 0;
    }


    .footer__payment {
        margin: 0;
    }

    .payment__img:nth-child(9) {
        order: 1;
    }

    .footer__box {
        margin-left: 60px;

        justify-content: start;

        max-width: auto;
    }

    .footer__input {
        width: 360px;
    }

    .footer__btn {
        padding-left: 0;
    }

    .footer__btn::after {
        left: -55px;
        top: 0px;
    }


}



/* ===============@media max1400======================= */

@media (max-width: 1400px) {
    /* ======about===== */

    .about__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about__wrap-img {
        margin: 0;

        height: 565px;
    }

    .about__img {
        width: 85%;
        margin: 0;
        top: 60px;
    }



}


/* ===============@media max1280======================= */
@media @bpMax1280 {}

@media (max-width: 1280px) {



    /* ======about===== */

    .about__title--lawgreen::after {
        content: "";
    }

    .about__title {
        margin-bottom: 35px;
    }

    /* ======products===== */

    .products__item {
        flex-basis: 50%;
    }




    /* ======story===== */

    .story {
        padding: 80px 0;
    }



    /* ===testimonials===== */

    .testimonials__review::before {
        content: "";
    }

    .testimonials__title {
        margin-bottom: 90px;
    }

    /* ===blog===== */

    .blog {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 100px 40px;
    }

    .blog__title {
        text-align: center;
    }

    .blog__img {
        margin-bottom: 80px;
    }


    .blog__artical {
        padding: 0;
        align-self: center;
    }

    .blog__artical::before {
        width: 557px;
        left: 45px;
        top: -45px;

        border-radius: 10px;
    }

    .blog__subtitle {
        text-align: center;
    }

    .blog__text {
        padding: 0;
        text-align: center;
    }


    /* ======instagram===== */

    .instagram {
        padding: 40px 0 5px;
    }

    /* ========footer====== */
    .footer__top {
        max-width: 1050px;
        justify-content: space-around;
    }

    .footer__logo {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    .footer__payment {
        margin-left: 25px;
    }


}


/* ===============@media max1040========== */


@media (max-width: 1040px) {

    /* ======smoothies===== */

    .title {
        font-size: 46px;

        text-align: center;
    }

    .text {
        font-size: 24px;
        line-height: 1.5;

        text-align: center;
    }


    .smoothies__title {
        margin-bottom: 40px;
    }

    .smoothies__items {
        margin: 0 60px;
    }

    .smoothies__item {
        padding: 20px 0;

        flex-basis: 50%;
    }

    .smoothies__item:nth-child(2) {
        border-bottom: 2px solid #f6edde;
        border-right: none;
    }

    .smoothies__item:nth-child(5) {
        border-bottom: 2px solid #f6edde;
    }

    .smoothies__item:nth-child(6) {
        border-right: none;
        border-bottom: 2px solid #f6edde;
    }


    /* ======about===== */

    .about__wrap-img {
        display: none;
    }

    .about__title--lawgreen {
        font-size: 46px;
    }




    /* ======story===== */

    .story__container {
        flex-direction: column;
        align-items: center;
    }

    .story__content {
        margin: 0 auto;
    }

    .story__wrap-img::before {
        content: "";
    }

    .story__img {
        width: 100%;
    }




    .story__text {
        text-align: center;
    }

    .story__title {
        margin: 20px auto;
    }

    .story__btn {
        margin: 0 auto 30px;
    }


    /* ===testimonials ===== */

    .testimonials__content {
        flex-direction: column-reverse
    }

    .testimonials__img {
        max-width: 550px;
        margin: 0 auto;
    }

    .testimonials__review {
        padding: 35px 10px 0;
    }

}




/* ===============@media max880======================= */

@media (max-width: 880px) {

    /* ====products===== */

    .products__items {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .products__item {

        min-width: 60%;
    }





    /* ======footer===== */

    .footer__top {
        justify-content: center;
    }

    .footer__payment {
        margin-left: 50px;
        margin-bottom: 60px;
        padding-left: 50px;
    }

    .footer__caption {
        text-align: center;
    }

    .footer__form {
        margin-top: 15px;
    }

    .footer__input {
        width: 400px;
    }

    .footer__social {
        top: 584px;
    }

}






/* ===============@media max768======================= */


@media @bpMax768 {}


@media (max-width: 768px) {

    /* ======header===== */

    body.lock {
        overflow: hidden;
    }





    // .header__nav.active {
    //     transform: translateX(0%)
    // }

    // .header__list {
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-evenly;

    //     padding: 90px;
    //     background-color: #0aa566;

    //     width: 100%;
    //     height: 100%;

    //     overflow-y: auto;
    // }



    @media @bpMax768 {}



    /* ======smoothies===== */

    .smoothies {
        padding: 80px 30px;
    }


    .smoothies__title {
        margin-bottom: 20px;
    }

    .smoothies__text {
        margin-bottom: 35px;
        padding: 0;
    }

    .smoothies__items {
        margin: 0 40px;
    }

    .smoothies__subtitle {
        margin: 0 10px;

        font-size: 24px;
    }


    /* ======about===== */

    .about {
        padding: 65px 30px;
    }

    .about__item {
        font-size: 30px;
        background: url(../assets/images/3sec-list.png) no-repeat 0 20px;
    }

    .about__btn {
        width: 310px;

        padding: 15px;
        font-size: 18px;
    }



    /* ===blog===== */

    .blog {
        padding-top: 60px;
    }

    .blog__title {
        margin-bottom: 35px;
    }

    .blog__subtitle {
        text-align: center;
    }

    .blog__artical::before {
        content: none;
    }

    .blog__more::after {
        content: "";
    }

    /* ===blog===== */

    .footer__payment {
        padding-left: 0;
    }


}





/* ===============@media max660============================== */


@media (max-width: 660px) {

    /* ======story===== */

    .story {
        padding: 40px 20px;
    }

    /* .story__wrap-img {} */

    /* ===testimonials ===== */

    .testimonials__title {
        margin-bottom: 60px;

        line-height: 1.2;
    }

    /* ===blog===== */

    .blog__title {
        margin-bottom: 40px;
    }


    .blog__img {
        width: 100%;
        margin-bottom: 50px;
    }

    .blog__text {
        padding-left: 0;
        margin-top: 20px;

        text-align: center;
    }

    .blog {
        padding: 80px 20px 0;
    }

    /* =========footer====== */
    .up {
        top: -10px;
        right: 5%;
    }
}


/*  ===============@media max600============================== */


@media (max-width: 600px) {




    /* ======footer===== */
    .footer__top {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-bottom: 110px;
    }

    .footer__logo {
        margin-bottom: 60px;
    }



    .footer__information {
        margin-bottom: 60px;
    }

    .footer__payment {
        margin-bottom: 60px;
        margin-left: 0;
    }

    .footer__inner {
        max-width: 180px;
        justify-content: space-between;

        max-height: 300px;
    }

    .footer__caption {
        font-size: 30px;
        text-align-last: center;
    }

    .footer__list {
        margin-top: 10px;
        font-size: 26px;
    }


}





/* ===============@media max550============================= */

@media (max-width: 550px) {

    /*========smoothies == */
    .smoothies__items {
        margin: 0;
    }


    /* products */

    .products__item {
        padding-top: 50px;

        min-width: initial;
    }


    /* ======footer===== */




    .footer__input {
        width: 345px;
    }


}




/* ===============@media max450=============================== */
@media @bpMax450 {}


@media (max-width: 450px) {

    /* ======header===== */





    /* ======smoothies===== */

    .smoothies__items {
        display: none;
    }

    /* ======about===== */

    .about {
        padding: 65px 0;
    }

    .about__content {
        padding: 15px;
        margin-left: -10px;
    }

    .about__title,
    .about__title--lawgreen {
        margin-bottom: 25px;

        text-align: center;
        font-size: 34px;
    }

    .about__btn {
        margin: 0 auto;

        width: 260px;
    }

    .about__btn::after {
        background-image: none;
    }


    /* ======story===== */

    .story__btn {
        width: 220px;
    }

    .story__btn::after {
        background-image: none;
    }


    /* ======testimonials===== */

    .testimonials {
        padding: 60px 40px 100px;
    }

    .testimonials__content {
        margin-bottom: 60px;
    }


    /* =========footer====== */

    .footer__box {
        flex-direction: column;
    }

    .footer__input {
        width: 265px;
        padding: 15px;
    }

    .footer__input {
        background-image: none;
        font-size: 14px;
        width: 215px;
    }




    .footer__btn {
        padding-left: 0;
    }




}




@import "./blocks/header.less";
@import "./blocks/personal.less";
@import "./blocks/social.less";
@import "./blocks/burger.less";
@import "./blocks/btn.less";
@import "./blocks/text.less";
@import "./blocks/title.less";
@import "./blocks/smoothies.less";
@import "./blocks/about.less";
@import "./blocks/products.less";
@import "./blocks/story.less";
@import "./blocks/testimonials.less";
@import "./blocks/blog.less";
@import "./blocks/instagram.less";