// main: ./main.less

@text: #1e1e1e;
@link: #6d450c;
@brand: #f6ab3b;
@brandLighter: #ffd68f;

@bgBtn: #0aa566;
@bgAbout: #14826f;
@bgTestimonials: #672f1b;

@black: #000;
@white: #fff;

@radius: 30px;


@bpMax450: ~"(max-width: 450px)";
@bpMax550: ~"(max-width: 550px)";
@bpMax600: ~"(max-width: 600px)";
@bpMax660: ~"(max-width: 660px)";


@bpMax768: ~"(max-width: 768px)";
@bpMax880: ~"(max-width: 880px)";

@bpMax1040: ~"(max-width: 1040px)";
@bpMax1280: ~"(max-width: 1280px)";

@bpMax1400: ~"(max-width: 1400px)";
@bpMax1280: ~"(max-width: 1280px)";
@bpMax1600: ~"(max-width: 1600px)";
@bpMax1890: ~"(max-width: 1890px)";





