// main: ../main.less

.personal {

    &__list {
        .flex();
        margin-right: 135px;
        @media @bpMax1600 {
            margin-right: 15px;
        }
    }

    &__item {
        .flex(center);

        position: relative;

        margin-right: 45px;

        transition: background-color .2s linear;

        &:hover {
            background-color: #ffd68f;
            border-radius: 50%;
            border: none;

            transform: translateY(-5px);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__numeric {
        width: 18px;
        height: 18px;

        position: absolute;
        right: -16px;
        top: -11px;

        font-size: 1rem;
        line-height: 2;
        color: @black;
        text-align: center;

        background: @white;
        border-radius: 50%;
    }
}

